.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding-top: 29px;
}
.logo {
  max-height: 60px;
}
.wrapper {
  border: #e4e4e4 7px;
  width: 64px;
  height: 64px;
}
