.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding-top: 29px;
}
.logo {
  max-height: 60px;
}
.socialMediaBlock {
  display: flex;
}
.wrapperModelSvg {
  border: #e4e4e4 7px solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orderLayoutBlock {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.orderLayoutBlock__text {
  font-weight: 500;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 7px;
}
.wrapperTelephoneSvg {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(49, 159, 28) 3px solid;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  outline: solid 5px rgb(228, 228, 228);
}
.wrapperTelephoneSvg::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: rgb(49, 159, 28);
  border-radius: 50%;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.messengers {
  display: flex;
  column-gap: 25px;
}
