.formSection__header {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
}
.formSection__container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: right;
}
.fillFormText {
  font-size: 18px;
  font-weight: 400;
}
