.productBlock {
  padding-top: 69px;
}
.productName {
  font-size: 38px;
  font-weight: 900;
}
.image {
  display: block;
  row-gap: 20px;
}
.photosSlider {
  height: 435px;
  overflow-y: scroll;
}
.photosSlider__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
