.container {
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
.formInput {
  height: 45px;
  border: 1px solid rgba(49, 159, 28, 1);
  padding: 0 24px;
  box-sizing: border-box;
  color: rgba(89, 89, 89, 1);
  font-size: 16px;
  border-radius: 5px;
}
.formInput::-webkit-input-placeholder {
  color: rgba(89, 89, 89, 1);
  font-size: 16px;
}
.formInput::-moz-placeholder {
  color: rgba(89, 89, 89, 1);
  font-size: 16px;
}
.formInput:-moz-placeholder {
  color: rgba(89, 89, 89, 1);
  font-size: 16px;
}
.formInput:-ms-input-placeholder {
  color: rgba(89, 89, 89, 1);
  font-size: 16px;
}
