.recommendationsSection {
  padding-top: 183px;
  padding-bottom: 100px;
}
.headerText {
  font-size: 32px;
  font-weight: 900;
}
/* rec product */
.recProduct {
  max-width: 507px;
  width: 100%;
  box-shadow: 3px 6px 41px rgb(208 207 207);
  display: flex;
  padding: 30px 58px;
  box-sizing: border-box;
}
