.recommendationsSection {
  padding-top: 183px;
  background-image: url(../../png/water.png), url(../../png/pipes.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top -50px, right top;
}
.headerText {
  font-size: 32px;
  font-weight: 900;
}
.slider {
  margin-top: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  padding: 0 10px;
  box-sizing: border-box;
}
.slider__content {
  overflow-x: hidden;
  width: 1580px;
}
.slider__products {
  display: flex;
  column-gap: 30px;
  max-width: 1580px;
  width: 100%;
}
.arrowWrapperLeft,
.arrowWrapperRight {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: rgba(49, 159, 28, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  cursor: pointer;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 3px 6px 41px rgb(177, 176, 176);
  transition: 0.5s;
}
.arrowWrapperLeft:hover,
.arrowWrapperRight:hover {
  box-shadow: 3px 6px 100px rgb(111, 111, 111);
}

.arrowWrapperRight {
  transform: rotate(180deg);
}

/* rec product */
.recProduct {
  flex-shrink: 0;
  width: 507px;
  box-shadow: 3px 6px 41px rgb(208 207 207);
  padding: 30px 38px;
  box-sizing: border-box;
  transition: 0.5s;
}
.recProduct:hover {
  box-shadow: 3px 6px 100px rgb(208 207 207);
}
.recProduct__info {
  display: flex;
  border-bottom: 2px dashed rgba(49, 159, 28, 1);
  padding-bottom: 47px;
}
.name {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 14px;
}
.characteristics__item {
  display: flex;
}
.countPeople {
  font-size: 18px;
  font-weight: 400;
  color: rgba(121, 121, 121, 1);
}
.prices {
  margin-top: 30px;
  margin-bottom: 40px;
}
.prices__prev {
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
}
.prices__new {
  font-size: 24px;
  font-weight: 900;
  color: rgba(49, 159, 28, 1);
}
.characteristics {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.characteristic {
  margin-right: 15px;
  font-size: 16px;
  font-weight: 600;
}
.description {
  margin-left: 35px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons__more,
.buttons__order {
  max-width: 201px;
  height: 41px;
  width: 100%;
  margin-top: 49px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}
.buttons__more {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}
.buttons__order {
  background-color: rgba(49, 159, 28, 1);
  color: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px rgb(49, 159, 28);
}
.buttons__order:hover {
  background-color: rgb(169, 172, 168);
  box-shadow: 0px 5px 5px rgb(169, 172, 168);
}
.buttons__more:hover {
  box-shadow: 0px 5px 5px rgb(191, 195, 190);
}
@media (max-width: 1750px) {
  .slider__content {
    width: 1068px;
  }
}
@media (max-width: 1300px) {
  .slider__content {
    width: 1068px;
  }
}
